body{
    background: linear-gradient(135deg, #f8f9fa, #e0eafc);
}
form { text-align: left; }
.flex-container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}
.form-container {
    flex: 0 0 250px; 
}
#previewArea {flex: 1;}
#previewContent {
    font-family: Calibri;

    max-height: 50vh;
    max-width: 100%;
    overflow-y: auto;
    padding-left: 10px;
    border-left: 1px solid #ccc;
    box-shadow: 5px 5px 49px 26px rgba(0,0,0,0.25);
    background-color: #fff;
}
.h_month_name{ font-size: 2.5rem; color: #4F81BD; text-align: left; }
.form-btn {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.form-btn:after {
    content: "";
    background-color: #92D050;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}
.form-btn:hover:after {top: 0px; left: 0px; }

@media (min-width: 768px) {
  .form-btn {
    padding: 13px 50px 13px;
  }
}